body{
    background-image: url("vwcc.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    max-width:100%;
    height: auto;
    object-fit:contain;

}
.blink {
    animation: blinker 3s linear infinite;
    color:black;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 190%;
    background-color:brown;
    height:3.7rem;
    text-orientation: upright;
    object-fit:contain;
}
@keyframes blinker {
    100% {
        opacity: 0;
    }
}
#from-details{
    display: flex;
    justify-content: left;
    width: 500px;
}
p{
    color:black;
    font-weight:bolder;
}
  .popup {
    position:relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color:aqua;
    font-weight:bold;
    font-style:normal;
    }
    /* The actual popup */
    .popup .popuptext {
    visibility: hidden;
    width: 400px;
    background-color:aqua;
    color:brown;
    text-align: center;
    border-radius: 8px;
    font-weight: bold;
    padding: 7px 0;
    position:absolute;
    z-index: 1;
    bottom: -325%;
    left: 63%;
    margin-left: -100px;
    }
    .popup .show {
    visibility: visible;
    animation-name:bounce;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    }
    @keyframes bounce {
    from {
    left: 0px;
    }
    to {
    left: 300px;
    }
    }

    button {
        background-color:brown; /* Green */
        border: 2px solid aquamarine;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
      }
      button:hover {
        box-shadow: 0 12px 16px 0 rgba(47, 241, 218, 0.24),0 17px 50px 0 rgba(27, 161, 202, 0.19);
      }